
    body {
        background-color:#cce6b8;
    }
    hr{
        border-bottom-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 5px;
        width: 5%;
    }
